<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{R:1}" pattern="^(index\.php|skin|upload|robots\.txt|wap)" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?/{R:1}" appendQueryString="false" />
                </rule>
				
				   <rule name="Imported Rule 2" stopProcessing="true">
                      <match url="wap/(?!index.php)(?!skin)(?!upload)(.*)" />
                    <action type="Rewrite" url="wap/index.php/{R:1}" />
                </rule>

				
            </rules>
        </rewrite>
    </system.webServer>
</configuration>